/* You can add global styles to this file, and also import other style files */
html {
  background: #6690ff;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  background: #c04520;
}
.keskiosa {
  display: flex;
}
